html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

#header {
  background-color: #272727;
}


#name-and-slogan{
  float: left;
}

#user-login-form label{
  display: none;
}

#site-name span{
  font-size: 12px;
  letter-spacing: 2px;
  color: #FFF;
}

#user-login-form div {
  margin: 0;
  padding: 0;
  font-size: 95%;
  float: left;
}

#user-login-form label, #user-login-form input {
  float: left;
}

#user-login-form .form-required {
  display: none;
}

#user-login-form .item-list ul li {
  display: none;
}

#block-user-login h2 {
  display: none;
}

.menu-2 a, .menu-12 a {
  color: #FFF;
  line-height: 23px;
  font-size: 13px;
}

#myword-claim-submit input{
  background:url(http://i.imgur.com/D7ehEWV.png) no-repeat;
  cursor: pointer;
  width: 80px;
  height: 35px;
  border: none;
  margin-top: -10px;
}

#edit-myword-claim{
  font-size: 17px;
  color: #272727;
  width: 60%;
}

#edit-name, #edit-pass{
  width: 70px;
  margin-right: 10px;
}

#edit-submit--2{
  background: url('http://i.imgur.com/XXVl2Y1.png') no-repeat;
  width: 47px;
  height: 20px;
  margin-top: 2px;
  border: none;
  cursor: pointer;
}

#user-login-register{
  margin-top: 2px !important;
  background: url("http://i.imgur.com/lTdqeiF.png");
  width: 47px;
  height: 20px;
}
